<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Crown Construction ERM</title>
  <link type="text/css" href="css/reset.css" rel="stylesheet" />	
  <link type="text/css" href="css/main.css" rel="stylesheet" />	
  <script src="jquery-1.4.2.min.js" type="application/javascript"></script>
  <script src="jquery.ba-bbq.js" type="application/javascript"></script>
  <script src="underscore.js" type="application/javascript"></script>
  <script src="resource://crownconstruction/modules/jmonad.js" type="application/javascript"></script>
  <script src="main.js" type="application/javascript;version=1.7"></script>
</head>
<body>

<!--
Login Deck
~~~~~~~~~~ -->
<div id="deck">

  <div id="frame-connections" class="panel"  style="display:none">
  </div>

  <div id="frame-login" class="panel" style="display:none">
    <form id="login" method="post">
      <img id="weblogo" src="img/weblogo.gif" width="275" height="110" />
      <h1 class="login">Enterprise Resource Management</h1>
      <p class="login">
        <label id="label-username" for="username" class="login">Username:</label>
        <input id="username" name="username" class="login" type="text" />
      </p>
      <p class="login">
        <label id="label-passkey" for="passkey" class="login">Passkey:</label>
        <input id="passkey" name="passkey" class="login" type="password" />
      </p>
      <p class="login">
        <button id="login-button">Login</button>
        <label id="label-db" for="use-fake-db" class="login">Use fake database:</label>
        <input id="use-fake-db" name="use-fake-db" type="checkbox" class="login" />
      </p>
      <p id="warn-login" class="login-warning"></p>
    </form>
  </div>

  <div id="frame-app" style="display:none">
    <!-- navigation column -->
    <ul id="navigation">

      <!-- search -->
      <li class="navigation section search">
        <button class="navigation section">+</button>
        <a id="search-options" class="navigation" href="#">Search</a>

        <ul class="navigation options" style="display:none">

          <li class="navigation sub-section">
            <a id="search-advanced" class="navigation" href="#">Advanced</a></li>

          <li class="navigation sub-section">
            <a id="search-customers" class="navigation" href="#">Customers</a></li>

        </ul>
      </li><!-- search -->

      <!-- customers -->
      <li class="navigation section customers">
        <!-- BBQ URL hashes for panel navigation should be in the form
        '#panels/'+ panel_name -->

        <button class="navigation section">+</button>
        <a class="bbq navigation" href="#panels/customers">Customers</a>

        <ul class="navigation options" style="display:none">

          <li class="navigation sub-section">
            <a class="bbq navigation" href="#customers/view?key=">Create</a></li>

        </ul>
      </li><!-- customers -->

      <!-- personnel -->
      <li class="navigation section personnel">
        <!-- BBQ URL hashes for panel navigation should be in the form
        '#panels/'+ panel_name -->

        <button class="navigation section">+</button>
        <a class="bbq navigation" href="#panels/personnel">Personnel</a>

        <ul class="navigation options" style="display:none">

          <li class="navigation sub-section">
            <a class="bbq navigation" href="#personnel/view?key=">Create</a></li>

        </ul>
      </li><!-- personnel -->

    </ul><!-- navigation -->
    <!-- menu bar -->
    <div id="menu-bar"></div>
  </div><!-- frame-app -->

</div><!-- deck -->

<!--
notification boxes
~~~~~~~~~~~~~~~~~~ -->
<div id="login-username-warning" class="notification login-warning" style="display: none">
  <p class="content"></p>
</div>
<div id="login-passkey-warning" class="notification login-warning" style="display: none">
  <p class="content"></p>
</div>

<!--
menu
~~~~ -->
<ul id="menu" style="display: none">
  <li class="menu">
    <button id="commit-button" class="menu">Commit</button>
  </li>
</ul><!-- menu -->

<!--
application panels
~~~~~~~~~~~~~~~~~~ -->
<div id="panels">
  <!-- Panel id strings must be in the form
    'panel-'+ widget_name -->

  <!-- panel-customers -->
  <div id="panel-customers" class="tab-panel" style="display:none">
    <h2 class="panel-header">Customers</h2>

    <!-- customer view widget -->
    <form id="customer-view" class="fform">
      <fieldset id="customer-names" class="fform content-panel">
        <h4 class="section-header">Names</h4>
      </fieldset>
      <fieldset id="customer-phones" class="fform content-panel">
        <h4 class="section-header">Phone Numbers</h4>
      </fieldset>
      <fieldset id="customer-addresses" class="fform content-panel">
        <h4 class="section-header">Addresses</h4>
      </fieldset>
      <fieldset id="customer-emails" class="fform content-panel">
        <h4 class="section-header">Email Addresses</h4>
      </fieldset>
    </form><!-- customer-view -->

  </div><!-- panel-customers -->

  <!-- panel-personnel -->
  <div id="panel-personnel" class="tab-panel" style="display:none">
    <h2 class="panel-header">Personnel</h2>

    <!-- personnel view widget -->
    <form id="personnel-view" class="fform">
      <fieldset id="personnel-name" class="fform content-panel">
        <h4 class="section-header">Name</h4>
      </fieldset>
      <fieldset id="personnel-phones" class="fform content-panel">
        <h4 class="section-header">Phone Numbers</h4>
      </fieldset>
      <fieldset id="personnel-groups" class="fform content-panel">
        <h4 class="section-header">Groups</h4>
      </fieldset>
      <fieldset id="personnel-addresses" class="fform content-panel">
        <h4 class="section-header">Addresses</h4>
      </fieldset>
    </form><!-- personnel-view -->

  </div><!-- panel-customers -->

</div>

<!--
search panels
~~~~~~~~~~~~~ -->
<div id="advanced-search" class="content-panel search-panel" style="display:none">
  <h4 class="section-header">Advanced Search
    <span class="search-panel-close-button">x</span></h4>
  <ul id="advanced-search-results" class="search-results-list">
  </ul>
</div><!-- advanced-search -->

<div id="customer-search" class="content-panel search-panel" style="display:none">
  <h4 class="section-header">Customer Search
    <span class="search-panel-close-button">x</span></h4>
  <form id="customer-search-form">
    <p class="customer-search-form">
      <label class="customer-search-form">
        Last name starts with...
      </label>
      <input id="customer-search-lastname" class="customer-search-form" type="text" />
    </p>
    <p class="customer-search-form">
      <label class="customer-search-form">
        First name starts with...
      </label>
      <input id="customer-search-firstname" class="customer-search-form" type="text" />
    </p>
    <button id="customer-search-button">Find</button>
  </form>
  <ul id="customer-search-results" class="search-results-list">
  </ul>
</div><!-- customer-search -->

<!--
templates
~~~~~~~~~ -->
<script type="text/html" id="customer_names-template">
  <% var i = 0, len = names.length, name; %>
  <h4 class="section-header">Names</h4>

  <% for (; i < len; i += 1) { %>
  <% name = names[i];  %>
  <div class="input-section">
    <div class="line">
      <p class="input-float"><label class="live-label">last:</label>
        <input class="clean-text-input fform lastname" type="text"
          name="<%= name.last.path %>" value="<%= name.last.value %>" />
      </p>
      <p class="input-float"><label class="live-label">first:</label>
        <input class="clean-text-input fform firstname" type="text"
          name="<%= name.first.path %>" value="<%= name.first.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.names"" class="append fform button" title="Add another contact person.">
    <span class="icon">+</span>
    Add another contact person.
  </a>
</script>

<script type="text/html" id="customer_addresses-template">
	<% var i = 0, len = addresses.length, address; %>
  <h4 class="section-header">Addresses</h4>

  <% for (; i < len; i += 1) { %>
  <% address = addresses[i]; %>
  <div class="input-section">
    <div class="line">
      <p>
        <label class="live-label">street:</label>
        <input class="clean-text-input fform street-address" type="text"
          name="<%= address.street.path %>" value="<%= address.street.value %>" />
      </p>
    </div>
    <div class="line">
      <p class="input-float">
        <label class="live-label">city:</label>
        <input class="clean-text-input fform city" type="text"
          name="<%= address.city.path %>" value="<%= address.city.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">state:</label>
        <input class="clean-text-input fform state-address" type="text"
          name="<%= address.state.path %>" value="<%= address.state.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">zip:</label>
        <input class="clean-text-input fform zip" type="text"
          name="<%= address.zip.path %>" value="<%= address.zip.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.addresses"" class="append fform button" title="Add another customer address.">
    <span class="icon">+</span>
    Add another address.
  </a>
</script>

<script type="text/html" id="customer_phones-template">
	<% var i = 0, len = phones.length, phone; %>
  <h4 class="section-header">Phone Numbers</h4>
  <% for (; i < len; i += 1) { %>
  <% phone = phones[i]; %>
  <div class="input-section">
    <div class="line">
      <p class="input-float">
        <label class="live-label">number:</label>
        <input class="clean-text-input fform phone" type="text"
          name="<%= phone.phone.path %>" value="<%= phone.phone.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">label:</label>
        <input class="clean-text-input fform label" type="text"
          name="<%= phone.label.path %>" value="<%= phone.label.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.phones"" class="append fform button" title="Add another phone number.">
    <span class="icon">+</span>
    Add another phone number.
  </a>
</script>

<script type="text/html" id="customer_emails-template">
	<% var i = 0, len = emails.length, email; %>
  <h4 class="section-header">Email Addresses</h4>

  <% for (; i < len; i += 1) { %>
  <% email = emails[i]; %>
  <div class="input-section">
    <div class="line">
      <p class="input-float">
        <label class="live-label">email:</label>
        <input class="clean-text-input fform email" type="text"
          name="<%= email.email.path %>" value="<%= email.email.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">label:</label>
        <input class="clean-text-input fform label" type="text"
          name="<%= email.label.path %>" value="<%= email.label.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.emails"" class="append fform button" title="Add another email address.">
    <span class="icon">+</span>
    Add another email address.
  </a>
</script>

<script type="text/html" id="customer_results-template">
	<% var i = 0, customer; %>
  <% for (; i < customers.length; i += 1) { %>
  <% customer = customers[i]; %>
  <li class="search-result">
    <a class="bbq search-result" href="#customers/view?key=<%= customer.key %>&cached=true">
      <%= customer.data.names[0].first %> <%= customer.data.names[0].last %>
    </a>
  </li>
  <% } %>
</script>

<script type="text/html" id="employee_name-template">
  <h4 class="section-header">Name</h4>

  <div class="input-section">
    <div class="line">
      <p class="input-float"><label class="live-label">last:</label>
        <input class="clean-text-input fform lastname" type="text"
          name="<%= name.last.path %>" value="<%= name.last.value %>" />
      </p>
      <p class="input-float"><label class="live-label">first:</label>
        <input class="clean-text-input fform firstname" type="text"
          name="<%= name.first.path %>" value="<%= name.first.value %>" />
      </p>
    </div>
  </div>
</script>

<script type="text/html" id="employee_addresses-template">
	<% var i = 0, len = addresses.length, address; %>
  <h4 class="section-header">Addresses</h4>

  <% for (; i < len; i += 1) { %>
  <% address = addresses[i]; %>
  <div class="input-section">
    <div class="line">
      <p>
        <label class="live-label">street:</label>
        <input class="clean-text-input fform street-address" type="text"
          name="<%= address.street.path %>" value="<%= address.street.value %>" />
      </p>
    </div>
    <div class="line">
      <p class="input-float">
        <label class="live-label">city:</label>
        <input class="clean-text-input fform city" type="text"
          name="<%= address.city.path %>" value="<%= address.city.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">state:</label>
        <input class="clean-text-input fform state-address" type="text"
          name="<%= address.state.path %>" value="<%= address.state.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">zip:</label>
        <input class="clean-text-input fform zip" type="text"
          name="<%= address.zip.path %>" value="<%= address.zip.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.addresses"" class="append fform button" title="Add another customer address.">
    <span class="icon">+</span>
    Add another address.
  </a>
</script>

<script type="text/html" id="employee_phones-template">
	<% var i = 0, len = phones.length, phone; %>
  <h4 class="section-header">Phone Numbers</h4>
  <% for (; i < len; i += 1) { %>
  <% phone = phones[i]; %>
  <div class="input-section">
    <div class="line">
      <p class="input-float">
        <label class="live-label">number:</label>
        <input class="clean-text-input fform phone" type="text"
          name="<%= phone.phone.path %>" value="<%= phone.phone.value %>" />
      </p>
      <p class="input-float">
        <label class="live-label">label:</label>
        <input class="clean-text-input fform label" type="text"
          name="<%= phone.label.path %>" value="<%= phone.label.value %>" />
      </p>
    </div>
  </div>
  <% } %>

  <a href="<%= key %>.phones"" class="append fform button" title="Add another phone number.">
    <span class="icon">+</span>
    Add another phone number.
  </a>
</script>

<script type="text/html" id="employee_groups-template">
  <h4 class="section-header">Groups</h4>
  <div class="input-section">
    <div class="line">
      <p class="input-float">
        <label class="live-label">groups:</label>
        <input class="clean-text-input fform groups" type="text"
          name="<%= groups.path %>" value="<%= groups.value %>" />
      </p>
    </div>
  </div>
</script>

<script type="text/html" id="customer_results-template">
	<% var i = 0, customer; %>
  <% for (; i < customers.length; i += 1) { %>
  <% customer = customers[i]; %>
  <li class="search-result">
    <a class="bbq search-result customer-search" href="#customers/view?key=<%= customer.key %>&cached=true">
      <%= customer.data.names[0].first %> <%= customer.data.names[0].last %>
    </a>
  </li>
  <% } %>
</script>

<script type="text/html" id="job_header-template">
	<div class="form-sub-section">
		<div class="form-sub-section-head-ctn">
			<h4 class="section-header">Job Header</h4>
		</div>

		<div class="input-section ui-corner-all">
			<div class="line ui-helper-clearfix">
				<p class="input-float">
					<span>job ID:</span>
					<span class="computed">job<%= id.value %></span>
				</p>
				<p class="input-float">
					<span>cost of contract:</span>
					<span name="cost-of-contract" class="computed">0</span>
				</p>
			</div>
			<div class="line ui-helper-clearfix">
				<p class="input-float">
					<label>start by:</label>
					<input class="clean-text-input fform" type="text"
						name="<%= startdate.path %>" value="<%= startdate.value %>" />
				</p>
				<p class="input-float">
					<label>complete:</label>
					<input class="clean-text-input fform" type="text"
						name="<%= completedate.path %>" value="<%= completedate.value %>" />
				</p>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="job_results-template">
	<% var key, job; %>
	<ul>
		<% for (key in jobs) { %>
		<% if (Object.prototype.hasOwnProperty.call(jobs, key)) { %>
		<% job = jobs[key]; %>
		<li>
			<a href="#show?key=<%= key %>"><%= job.id %></a>
		</li>
		<% } %>
		<% } %>
	</ul>
</script>

<script type="text/html" id="new_job_customer_results-template">
	<% var key, customer; %>
	<ul>
		<% for (key in customers) { %>
		<% if (Object.prototype.hasOwnProperty.call(customers, key)) { %>
		<% customer = customers[key]; %>
		<li>
			<a href="#new?key=<%= key %>"><%= customer.lastname %></a>
		</li>
		<% } %>
		<% } %>
	</ul>
</script>

<script type="text/html" id="connection_list-template">
	<% var cxn, i = 0, len = connections.length; %>
  <div id="connection-list-container">
  <h2 id="connection-list-heading">Choose from existing connections...</h2>
	<ul id="connection-list">
		<% for (; i < len; i += 1) { %>
		<% cxn = connections[i]; %>
		<li class="connection-list">
      <a class="button connection-list" href="<%= cxn.id %>">
        <%= cxn.username %> on <%= cxn.dbname %>
      </a>
		</li>
		<% } %>
		<li id="create-new-connection" class="connection-list">
    <a class="button" href="login">
      ... or create a new connection.
    </a>
		</li>
	</ul>
  </div>
</script>

<!-- end templates -->
</body>
</html>
