/*
Styles and branding for Crown Construction.
===========================================
*/

/*
LESS CSS constants.
------------------
*/

/* Grid layout. */
@fullcol: 7.25%;
@fullgutter: 1%;
@fullpixel: 0.078125;

/* General layout rules. */
@bottom_padding: 2em;
@border_width: 0.1em;

/* Workspace layout. */
@menu_height: 2em;
@topmargin: @menu_height + 1;

/* General colors. */
@brand: #3e6a99;
@ink: #333;
@warning: #8e1014;
@warning_bg: #faf6f0;
@link: #1746c0;
@green_button: #61a809;

/* Workspace colors. */
@panel_border: #777;
@icon_border: #8e1014;
@icon_bg: #bc151a;
@icon_bg_hover: #eb4c51;

/* Login colors. */
@login_panel_border: #aaa;

/*
LESS CSS classes.
-----------------
*/

/* Rounded corners. */
#rounded {
  .two {
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
  }
  .three {
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
  }
  .five {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
  }
}

#rounded-top {
  .two {
    -moz-border-radius-topleft: 0.2em;
    -moz-border-radius-topright: 0.2em;
    -webkit-border-top-right-radius: 0.2em;
    -webkit-border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
  }
  .three {
    -moz-border-radius-topleft: 0.3em;
    -moz-border-radius-topright: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -webkit-border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
  }
  .five {
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
  }
}

#rounded-bottom {
  .two {
    -moz-border-radius-bottomleft: 0.2em;
    -moz-border-radius-bottomright: 0.2em;
    -webkit-border-bottom-right-radius: 0.2em;
    -webkit-border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  }
  .three {
    -moz-border-radius-bottomleft: 0.3em;
    -moz-border-radius-bottomright: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }
  .five {
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
}

#rounded-top-right {
  .two {
    -moz-border-radius-topright: 0.2em;
    -webkit-border-top-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
  }
  .three {
    -moz-border-radius-topright: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }
  .five {
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
}

#input {
  .norm {
    border: 1px solid @ink;
    padding: .2em .2em .3em .2em;
    #rounded > .two;
    color: @ink;
  }
}

button, .button {
  #rounded > .two;
}

#buttons {
  .green {
    background-color: @green_button;
    background-image: url(./shared/fade-30.png);
    background-repeat: repeat-x;
    border-color: @green_button - #090909;
    color: #fff;
  }
  .green-hover {
    background-color: @green_button + #090909;
    border-color: @green_button;
  }
}

/*
Common classes.
---------------
*/

p.warning {
  border: @border_width solid @warning;
  padding: .2em 1em .3em;
  color: @warning;
  #rounded > .five;
  background-color: @warning_bg;
}

/* Panel close icon/button */
a.panel-close {
  float: right;
  margin-right: 4px;
  margin-top: 4px;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid @icon_border;
  #rounded > .two;
  background-image: url(./shared/ui-icons_ffffff_256x240.png);
  background-position: -95px -128px;
  background-repeat: no-repeat;
  background-color: @icon_bg;
  text-indent: -99999px;
}
a.panel-close:hover {
  background-color: @icon_bg_hover;
}

/*
Workspace Navigation.
---------------------
*/
@navwidth: (@fullcol * 2) + @fullgutter;
@navcof: 100 / @navwidth;

/* Main navigation panel. */
#navigation {
  position: absolute;
  top: @topmargin;
  left: @fullgutter;
  width: @navwidth;
  padding-bottom: @bottom_padding;
}

/* Navigation panel links. */
a.bbq.navigation {
  display: block;
}

/*
Workspace Tabs.
---------------
*/
@tabswidth: (@fullcol * 10) + (@fullgutter * 9);
@tabscof: 100 / @tabswidth;

/* Main tabs container. */
#tabset {
  position: absolute;
  top: @topmargin;
  left: @navwidth + (@fullgutter * 2);
  width: @tabswidth;
}

/* Panel navigation within tabs. */
ul.panel-navigation {
  overflow: hidden;
  border-top: @border_width solid @panel_border;
  border-right: @border_width solid @panel_border;
  border-left: @border_width solid @panel_border;
  #rounded-top > .three;
  padding-left: .5em;
	background: @brand url(./shared/fade-20.png) repeat-x;
}

li.panel-navigation {
  font-size: 110%;
  float: left;
  border-right: @border_width solid (@panel_border + 111);
  padding: .2em 1em .3em;
  background: transparent;
}

li.panel-navigation.active {
	background: @green_button url(./shared/fade-20.png) repeat-x;
}

span.panel-navigation, a.panel-navigation {
  font-weight: bold;
  color: #fff;
}

/* Content panel within a tab panel. */
.inner-tab-panel {
  border-bottom: @border_width solid @panel_border;
  border-right: @border_width solid @panel_border;
  border-left: @border_width solid @panel_border;
  #rounded-bottom > .three;
  min-height: 600px;
  padding-bottom: @bottom_padding;
}

/*
Search panels.
--------------
*/
@searchwidth: (@fullcol * 8) + (@fullgutter * 7);
@searchcof: 100 / @searchwidth;

div.search-panel {
  position: absolute;
  top: @topmargin * 2;
  left: @navwidth + (@fullgutter * 3) + @fullcol;
  width: @searchwidth;
  padding-bottom: @bottom_padding;
  border: @border_width solid @panel_border;
  #rounded > .three;
  min-height: 550px;
  color: @ink;
}

/* Search panel top bar. */
h4.search-header {
  font-size: 120%;
  font-weight: bold;
  color: #fff;
	background-image: url(./shared/fade-20.png);
  background-repeat: repeat-x;
  background-color: @green_button;
  min-height: 30px; /* accomodate panel close icon */
  padding: .2em .2em .3em 10%;
  #rounded-top > .three;
}

ul.search-results-list {
  width: 80%;
  margin: 2em 0 3em 10%;
}

li.search-result {
  margin-top: 1.2em;
}

a.search-result {
  display: block;
}

#customer-search-form {
  margin-top: 2em;
  margin-left: (@fullgutter + @fullcol) * @searchcof;
  font-size: 110%;
}

#customer-search-lastname {
  margin-left: 1em;
  #input > .norm;
}

#customer-search-button {
  #buttons > .green;
  margin-left: 2em;
  font-size: 120%;
  padding: .2em .3em .3em;
  font-weight: bold;
}

#customer-search-button:hover {
  #buttons > .green-hover;
}

span.customer.search-result.name {
  font-size: 110%;
  color: @link;
  display: block;
  text-decoration: underline;
}

span.customer.search-result.address {
  color: @ink;
  font-weight: bold;
}

/*
Login panels.
-------------
*/
@loginwidth: (@fullcol * 6) + (@fullgutter * 5) - (@fullpixel * 2);

#login-panel, #connections-list-panel {
  width: @loginwidth;
  border: @border_width solid @login_panel_border;
  #rounded > .three;
  margin-left: (100 - @loginwidth) / 2;
  min-height: 24em;
  margin-top: 7%;
  padding-bottom: @bottom_padding;
  font-size: 130%;
  color: @ink;
  background: #fff;
}

#connections-list {
  width: 80%;
  margin: 2em 0 2em 10%;
}

li.connections {
  margin-top: 2em;
}

a.button.connections {
  display: block;
  font-weight: bold;
	background-image: url(./shared/fade-50.png);
  background-repeat: repeat-x;
  border-color: #aaa;
  font-size: 110%;
  padding: .4em .5em .5em;
  color: #fff;
}

a.button.connections.exists {
  background-color: @brand;
}
a.button.connections.create {
  background-color: @green_button;
}

span.connections.spacer {
  display: block;
  text-align: center;
}

#login-form-logo {
  position: relative;
  left: 50%;
  margin-left: -138px;
  margin-top: 2em;
}

h1.login {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: .2em 0 .3em;
  text-align: center;
  background: @brand;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}

p.login.input {
  width: 70%;
  margin-top: 1em;
  margin-left: 12%;
}

#username, #passkey {
  #input > .norm;
  width: 70%;
  float: right;
}

p.login.submit {
  margin: 2em 0 1em;
}

#login-button {
  margin-left: 20%;
  font-weight: bold;
  #buttons > .green;
  font-size: 110%;
  padding: .4em .5em .5em;
}

#login-button:hover {
  #buttons > .green-hover;
}

#label-db {
  margin-left: 12%;
  font-size: 80%;
}

p.login.warning {
  display: none;
  font-size: 80%;
  width: (100 - @loginwidth) / 2;
}
