/*
Styles and branding for Crown Construction.
===========================================
*/

@fullcol: 7.25%;
@fullgutter: 1%;
@fullpixel: 0.078125;

@border_width: 0.1em;

@panel_border: #aaa;
@ink: #333;
@warning: #8e1014;
@warning_bg: #faf6f0;
@green_button: #65ac0d;

@brand: #3e6a99;

@menu_height: 2em;
@topmargin: @menu_height + 1;

@bottom_padding: 2em;

#rounded {
  .one {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
  .two {
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
  }
  .three {
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
  }
  .five {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
  }
}

button, .button {
  #rounded > .two;
}

p.warning {
  border: @border_width solid @warning;
  padding: .2em 1em .3em;
  color: @warning;
  #rounded > .five;
  background-color: @warning_bg;
}

@navwidth: (@fullcol * 2) + @fullgutter;
@navcof: 100 / @navwidth;

#navigation {
  position: absolute;
  top: @topmargin;
  left: @fullgutter;
  width: @navwidth;
  padding-bottom: @bottom_padding;
}

a.bbq.navigation {
  display: block;
}

@tabswidth: (@fullcol * 10) + (@fullgutter * 9);
@tabscof: 100 / @tabswidth;

#tabset {
  position: absolute;
  top: @topmargin;
  left: @navwidth + (@fullgutter * 2);
  width: @tabswidth;
  padding-bottom: @bottom_padding;
}

ul.panel-navigation {
  overflow: hidden;
}

li.panel-navigation {
  float: left;
  margin-right: 1em;
}

@searchwidth: (@fullcol * 9) + (@fullgutter * 8);
@searchcof: 100 / @searchwidth;

div.search-panel {
  position: absolute;
  top: @topmargin * 2;
  left: @navwidth + (@fullgutter * 3) + @fullcol;
  width: @searchwidth;
  padding-bottom: @bottom_padding;
}

@loginwidth: (@fullcol * 6) + (@fullgutter * 5) - (@fullpixel * 2);

#login-panel, #connections-list-panel {
  width: @loginwidth;
  border: @border_width solid @panel_border;
  #rounded > .three;
  margin-left: (100 - @loginwidth) / 2;
  min-height: 24em;
  margin-top: 10%;
  padding-bottom: @bottom_padding;
  font-size: 130%;
  color: @ink;
  background: #fff;
}

#connections-list {
  width: 80%;
  margin: 2em 0 2em 10%;
}

li.connections {
  margin-top: 2em;
}

a.connections {
  display: block;
}

#login-form-logo {
  position: relative;
  left: 50%;
  margin-left: -138px;
  margin-top: 2em;
}

h1.login {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: .2em 0 .3em;
  text-align: center;
  background: @brand;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}

p.login.input {
  width: 70%;
  margin-top: 1em;
  margin-left: 12%;
}

#username, #passkey {
  border: 1px solid @ink;
  #rounded > .two;
  width: 70%;
  float: right;
  padding: .2em .2em .3em .2em;
}

p.login.submit {
  margin: 2em 0 1em;
}

#login-button {
  margin-left: 20%;
  font-weight: bold;
	background: @green_button url(./shared/fade-30.png) repeat-x;
  border-color: #aaa;
  font-size: 110%;
  padding: .4em .5em .5em;
  color: #fff;
}

#label-db {
  margin-left: 12%;
  font-size: 80%;
}

p.login.warning {
  display: none;
  font-size: 80%;
  width: (100 - @loginwidth) / 2;
}
