/* Set defaults.
 * ============= */
body {
	font-family: Verdana,Arial,sans-serif;
	background: #000000 url(images/wooden_plank_bg.jpg) repeat-x fixed;
  line-height: 0;
}

input, button {
  font-size: 100%;
}

button, .button {
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
}

a.button {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: .3em 0 .4em;
}

/* Keep floated children of these block level elements from floating away. */
div, form {
  overflow: hidden;
}

/* General styling for inheritence.
 * ================================ */
.notification {
  background: #fcf4e6;
  border: .09em solid #ecb44c;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: .9;
}

.panel {
	background: #333 url(images/gradient-400.png) 100% 100% repeat-x;
  border: .09em solid #555;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.content-panel {
  background: #fff;
  color: #333;
  border: .09em solid #aaa;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

h4.section-header {
  margin-bottom: 1em;
  padding: .5em 0 .7em;
  font-size: 120%;
  text-indent: 1.2%;
  font-weight: bold;
	background: #3e6a99 url(images/fade-50.png) 50% 50% repeat-x;
  color: #fff;
}

/* Login deck.
 * =========== */

/* Shared login and connection list. */
#frame-connections, #frame-login {
  font-size: 130%;
  width: 32.8em;
  /* centering */
  position: absolute;
  left: 50%;
  margin-left: -16.4em;
}

#connection-list-container, #login {
  width: 27.2em;
  margin: 2.8em 0 0 2.8em;
  border: .09em solid #aaa;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #fff;
  color: #333;
}

/* Login page frame.
 * ----------------- */
#frame-login {
  height: 27em;
  top: 50%;
  margin-top: -15.5em;
}

#login {
  height: 21.4em;
}

/* image */
#weblogo {
  margin: 2em 0 0 2.8em;
}

/* login header */
h1.login {
  line-height: 1;
  margin: 0.5em 0 2em;
  padding: .5em 0 .7em;
  text-indent: 2.8em;
  color: #fff;
	background: #3e6a99 url(images/fade-100.png) 50% 50% repeat-x;
  border-top: .09em solid #aaa;
  border-bottom: .09em solid #aaa;
  font-weight: bold;
}

p.login {
  width: 24.8em;
  height: 2.5em;
}

#label-username, #label-passkey {
  width: 8em;
  line-height: 1.5;
  margin-left: 2.8em;
}

/* username and passkey inputs */
#username, #passkey {
  width: 15.6em; /* -.4em for borders and padding */
  float: right;
  padding: .1em 0 .2em .2em;
  color: #333;
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

#login-button {
  float: left;
  width: 5.6em;
  height: 2em;
  margin-left: 2.8em;
	background: #65ac0d url(images/fade-50.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}

#label-db {
  font-size: 70%;
  display: block;
  margin: 1.3em 0 0 8em;
  line-height: 1;
  float: left;
}

#use-fake-db {
  margin-top: 1em;
}

.login-warning {
  position: absolute;
  width: 16em;
}

.login-warning p.content{
  line-height: 1.2;
  margin: .7em;
  color: #890000;
}

/* Connection list page frame.
 * --------------------------- */
#frame-connections {
  margin-top: 2.8em;
}

#connection-list-container {
  margin-bottom: 2.8em;
  padding: 1.8em 0 2.8em 0;
}

#connection-list-heading {
  margin: 0 0 2.4em 3.6em;
}

#connection-list {
  list-style-type: none;
}

li.connection-list {
  line-height: 1;
  margin: 1em 2.8em 0 2.8em;
}

a.connection-list, #create-new-connection>a {
  display: block;
  color: #fff;
	background: #3e6a99 url(images/fade-50.png) repeat-x;
  padding: .8em;
}

#create-new-connection>a {
  background-color: #65ac0d;
}

/* Main frame.
 * =========== */

/* Application frame.
 * ------------------ */
#frame-app {
  font-size: 120%;
  width: 100%;
  min-height: 600px;
  background: #000;
  opacity: .8;
}

/* Navigation tree.
 * ---------------- */
#navigation {
  margin-top: 4em; /* make room for menu bar */
  padding-top: 1em;
  padding: 0 1%;
  list-style-type: none;
}

button.navigation {
  float: left;
  overflow: hidden;
  width: 18px;
  height: 18px;
  text-indent: -99999px;
  background: transparent url(images/ui-icons_ffffff_256x240.png) 0 -192px no-repeat;
  border: .09em solid #fff;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

li.navigation>a {
  color: #fff;
  text-decoration: none;
}

li.navigation.section {
  margin-top: 0.7em;
  padding-top: 0.5em;
  width: 16%;
  border-top: .09em dotted #777;
  line-height: 1;
}

li.navigation.section>a {
  margin-left: .3em;
}

ul.navigation.options {
  margin: .5em 0 0 1.8em;
}

li.navigation.sub-section {
  font-size: 90%;
  line-height: 1.3;
}

/* Menu bar.
 * --------- */
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2em;
  width: 100%;
  background: #555;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7em;
  width: 100%;
  padding-top: .3em;
  list-style-type: none;
}

li.menu {
  float: left;
}

button.menu {
  font-size: 90%;
  font-weight: bold;
  color: #fff;
  padding: .2em .5em .3em .6em;
	background-image: url(images/fade-50.png);
  background-position: 50% 50%;
  background-repeat: repeat-x;
}

#commit-button {
  background-color: #65ac0d;
  margin-left: 80%;
}

/* Tab panels.
 * ----------- */
.tab-panel {
  position: absolute;
  top: 3em; /* make room for the menu bar */
  left: 17%;
  width: 82.9%; /* -0.1 just to be safe */
  min-height: 600px;
  color: #fff;
}

h2.panel-header {
  font-size: 150%;
  font-weight: bold;
  line-height: 1;
  margin: .5em 0 1em 1.2%;
}

/* Forms.
 * ====== */
form.fform {
  line-height: 1;
  margin: 0 1.2%;
}

fieldset.fform {
  font-size: 105%;
  margin: 0 0 2em 0;
}

div.line {
  margin-bottom: .2em;
}

p.input-float {
  float: left;
}

label.live-label {
  font-size: 90%;
  font-weight: bold;
  color: #555;
  margin-left: 1em;
}

input.clean-text-input {
  border: none;
  border-bottom: 1px dotted #999;
  color: #333;
}

input.firstname, input.city {
  width: 9em;
}
input.lastname {
  width: 12em;
}
input.label {
  width: 9em;
}
input.phone {
  width: 10em;
}
input.email {
  width: 16em;
}
input.street-address {
  width: 22em;
}
input.state-address {
  width: 2em;
}
input.zip {
  width: 5em;
}

a.fform.append.button {
  width: 97.9%;
  font-size: 90%;
  margin: 1em 1% .3em 1%;
	background: #65ac0d url(images/fade-50.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}

/* Customer form.
 * -------------- */
#customer-names, #customer-addresses, #customer-phones, #customer-emails {
  min-height: 7em;
  width: 48%;
}

#customer-names, #customer-addresses {
  float: left;
}

#customer-phones,  #customer-emails{
  float: right;
}

/* Employee form.
 * -------------- */
#personnel-name, #personnel-addresses, #personnel-phones, #personnel-groups {
  min-height: 7em;
  width: 48%;
}

#personnel-name, #personnel-groups {
  float: left;
}

#personnel-addresses, #personnel-phones {
  float: right;
}

/* Other panels.
 * ============= */

/* Customer search.
 * ---------------- */
div.search-panel {
  position: absolute;
  width: 69.9%; /* - .1 for borders */
  top: 3em; /* make room for menu bar */
  left: 24.5%;
  line-height: 1;
}

span.search-panel-close-button {
  display: block;
  position: absolute;
  top: .2em;
  right: .2em;
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -99999px;
  background: #fff url(images/ui-icons_cd0a0a_256x240.png) -32px -192px no-repeat;
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
}

ul.search-results-list {
  min-height: 20em;
  list-style-type: none;
  margin-left: 7%;
  margin-top: 2em;
}
li.search-result {
  margin-bottom: 1em;
}

#customer-search-form {
}

p.customer-search-form {
  float: left;
  margin-left: 7%;
  width: 30%;
}

label.customer-search-form {
  display: block;
}

input.customer-search-form {
  margin-top: .7em;
  width: 100%;
  padding: .1em 0 .2em .2em;
  color: #333;
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

#customer-search-button {
  margin-left: 7%;
  padding: .2em .5em .3em .6em;
  height: 2em;
	background: #65ac0d url(images/fade-50.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}

