body {
	font-family: Verdana,Arial,sans-serif;
	background: #000000 url(images/wooden_plank_bg.jpg) repeat-x fixed;
  line-height: 0;
}

input, button {
  font-size: 100%;
}

button, .button {
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

a.button {
  text-decoration: none;
}

div, form {
  overflow: hidden;
}

.notification {
  background: #fcf4e6;
  border: .09em solid #ecb44c;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: .9;
}

/* shared login and connection list */
#frame-connections, #frame-login {
  font-size: 130%;
  width: 32.8em;
  /* centering */
  position: absolute;
  left: 50%;
  margin-left: -16.4em;
  /* style */
	background: #333 url(images/gradient-400.png) 100% 100% repeat-x;
  border: .09em solid #555;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

#connection-list-container, #login {
  width: 27.2em;
  margin: 2.8em 0 0 2.8em;
  border: .09em solid #aaa;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #fff;
  color: #333;
}

/* login page frame
------------------- */
#frame-login {
  height: 27em;
  top: 50%;
  margin-top: -15.5em;
}

#login {
  height: 21.4em;
}

/* image */
#weblogo {
  margin: 2em 0 0 2.8em;
}

/* login header */
h1.login {
  line-height: 1;
  margin: 0.5em 0 2em;
  padding: .5em 0 .7em;
  text-indent: 2.8em;
  color: #fff;
	background: #3e6a99 url(images/fade-100.png) 50% 50% repeat-x;
  border-top: .09em solid #aaa;
  border-bottom: .09em solid #aaa;
  font-weight: bold;
}

p.login {
  width: 24.8em;
  height: 2.5em;
}

#label-username, #label-passkey {
  width: 8em;
  line-height: 1.5;
  margin-left: 2.8em;
}

/* username and passkey inputs */
#username, #passkey {
  width: 15.6em; /* -.4em for borders and padding */
  float: right;
  padding: .1em 0 .2em .2em;
  color: #333;
  border: .09em solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

#login-button {
  float: left;
  width: 5.6em;
  height: 2em;
  margin-left: 2.8em;
	background: #65ac0d url(images/fade-50.png) 50% 50% repeat-x;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

#label-db {
  font-size: 70%;
  display: block;
  margin: 1.3em 0 0 8em;
  line-height: 1;
  float: left;
}

#use-fake-db {
  margin-top: 1em;
}

.login-warning {
  position: absolute;
  width: 16em;
}

.login-warning p.content{
  line-height: 1.2;
  margin: .7em;
  color: #890000;
}

/* Connection list page frame.
------------------------------ */
#frame-connections {
  margin-top: 2.8em;
}

#connection-list-container {
  margin-bottom: 2.8em;
  padding: 1.8em 0 2.8em 0;
}

#connection-list-heading {
  margin: 0 0 2.4em 3.6em;
}

#connection-list {
  list-style-type: none;
}

li.connection-list {
  line-height: 1;
  margin: 1em 2.8em 0 2.8em;
}

a.connection-list, #create-new-connection>a {
  display: block;
  color: #fff;
	background: #3e6a99 url(images/fade-50.png) repeat-x;
  padding: .8em;
}

#create-new-connection>a {
  background-color: #65ac0d;
}

/* Navigation tree.
------------------- */
#main-navigation {
  font-size: 120%;
  width: 100%;
  min-height: 600px;
  padding: 1em 1%;
  background: #000;
  opacity: .8;
}

ul.navigation {
  list-style-type: none;
}

li.navigation  {
  height: 1em;
}

button.navigation {
  float: left;
  overflow: hidden;
  width: 18px;
  height: 18px;
  text-indent: -99999px;
  background: transparent url(images/ui-icons_ffffff_256x240.png) 0 -192px no-repeat;
  border: .09em solid #fff;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
}

li.navigation>a {
  color: #fff;
  text-decoration: none;
  line-height: 1;
}

li.navigation.section>a {
  margin-left: .3em;
}

ul.navigation.options {
  margin-left: 1.8em;
}

li.navigation.sub-section {
  font-size: 90%;
  position: relative;
  top: .3em;
}

/* tabs
------- */
.tab-panel {
  position: absolute;
  top: 0;
  left: 17%;
  width: 82.9%; /* -0.1 just to be safe */
  min-height: 600px;
  color: #fff;
}

